$c-light: #f8f9fa;

#head-navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: $c-light;

    .navbar{
        padding: 0;
        margin: 0;
    }

    .nav-link {
        padding: 20px;
        height: 100%;
        text-align: center;
        border-bottom: 5px solid lightgrey;
    }

    .selected {
        border-bottom: 5px solid black;
    }

    box-shadow:0px -5px 0px 0px lightgrey inset;
}

.material-symbols-outlined {
    vertical-align: middle;
    padding-bottom: 3px;
}

#media-container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid lightgrey;
    margin: 20px;
    border-radius: 10px;
}

.card {
    margin: 10px;
    width: 20rem;

    .card-text {
        margin-bottom: 80px;
    }

    .card-date {
        color: grey;
    }

    .card-rating {
        position: absolute;
        bottom: 50px;
        color: grey;
        margin: 0;
        padding: 0;
    }

    .checked {
        color: orange;
    }

    .card-buttons{
        position: absolute;
        align-items: end;
        border-top: lightgrey 1px solid;
        height: 85px;
        width: 100%;
        display: grid;
        left: 0;
        grid-template-columns: 1fr 1fr;
        margin-top: 20px;
        bottom: 0;
        & > .btn {
            border-radius: 0;
            height: 50%;
            bottom: 0;
        }
    }
}